<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

	<table border="0" style="width:100%;">
		<tr>
			<td>
				<table border="0" style="width:100%;">
						<tr>
							<td style="width:70%;"><font style="font-weight:bold;font-size:24px;">###getType### ####orderCode###</font> sent at ###sendingTime###</td>
							<td style="width:30%;text-align:right">###paymentType###</td>
						</tr>
						<tr>
								<td><font style="font-weight:bold;font-size:20px;">###customerName###</font></td>
						</tr>
						<tr>
								<td><font style="font-weight:bold;font-size:20px;">###customerAddress###</font></td>
						</tr>
						<tr>
								<td><font style="font-weight:bold;font-size:20px;">###customerPhone###</font></td>
						</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<hr>
			</td>
		</tr>
		<tr>
			<td>
				<table border="0" style="width:100%;">
					<thead>
						<tr>
							<th style="width:10%;">QTY</th>
							<th colspan="2" style="width:60%;text-align: left">Item</th>
							<th style="width:30%;text-align: right">Price</th>
						</tr>
					</thead>
					###bill###
				</table>
			</td>
		</tr>
	</table>


</body>
</html>
